<% make = Make.by_webmotor_id(params[:webmotors_make_id]) %>
<% models = Model.by_make_id(make.id) %>

<a href="/"><< Voltar</a>
<ul>
  <% models.each do |model| %>
    <li><%= model.name %></li>
  <% end %>
</ul>
